<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <link rel="stylesheet" href="/static/stylesheets/styles.css">
    <script src="/static/javascripts/map.js"></script>
    <script src="/static/javascripts/form-validation.js"></script>
</head>
    <body>
        <h2>Welcome to the Main Page</h2>
<!--        <h1><%=city_name  %></h1>-->
<!--        <p><%= weather %></p>-->

        <form id="city-form">
            <label for="lat">Latitude</label>
            <input type="text" id="lat" data-reg="^-?([0-8]?[0-9]|90)(\.\d{1,10})?$"> <p id="latError" class="error">Only float numbers</p>

            <label for="lon">Longitude</label>
            <input type="text" id="lon" data-reg="^-?((1[0-7][0-9])|([0-9]?[0-9])|180)(\.\d{1,10})?$"> <p id="lonError" class="error">Only float numbers</p>

            <button type="submit">find</button>
        </form>


        <div id="map"></div>
        <div class="scale-gradient" style="width: 260px;">
            <div>Temperature, °C</div>
            <div class="scale-gradient" style="width: 260px;">
                <div class="scale-dividers">
                    <div>-40</div>
                    <div>-20</div>
                    <div>0</div>
                    <div>20</div>
                    <div>40</div>
                </div>
                <div class="horizontal-gradient-line" style="background-image: linear-gradient(to right, rgb(159, 85, 181) 0%, rgb(44, 106, 187) 8.75%, rgb(82, 139, 213) 12.5%, rgb(103, 163, 222) 18.75%, rgb(142, 202, 240) 25%, rgb(155, 213, 244) 31.25%, rgb(172, 225, 253) 37.5%, rgb(194, 234, 255) 43.75%, rgb(255, 255, 208) 50%, rgb(254, 248, 174) 56.25%, rgb(254, 232, 146) 62.5%, rgb(254, 226, 112) 68.75%, rgb(253, 212, 97) 75%, rgb(244, 168, 94) 82.5%, rgb(244, 129, 89) 87.5%, rgb(244, 104, 89) 93.75%, rgb(244, 76, 73) 100%);"></div>
            </div>
        </div>


<!--        <div class="weather-icon">-->
<!--            <img alt="Weather Icon">-->
<!--        </div>-->
<!--        <div>-->
<!--            <p style="" >Country code: <br> Description <br>-->
<!--                Temperature: <br> Feels like: <br> Humidity: <br> Pressure: <br>-->
<!--                Wind speed: <br> Rain volume for the last 3 hours: <br> </p>-->
<!--        </div>-->

    </body>
</html>
